<div class="align-middle">
  <div class="col-md-6 col-sm-12 align-middle m-auto">
    <div class="card card-body align-middle text-center">
      <h1><i class="fa fa-address-card fa-6x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-primary">Login</a>
    </div>
  </div>
</div>
